
@{
    ViewBag.Title = "Ques";
    Layout = "~/Views/Mediciner/MIndex_LayoutPage1.cshtml";
}

@using Order.Models;
@{
    List<Question> ques = ViewBag.ques as List<Question>;
}
<link href="~/Content/Main.css" rel="stylesheet" />
<style type="text/css">
    .Mainbody {
        background-color: white;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 500px;
        width: auto;
        border-radius: 10px;
        opacity: 0.9;
    }

    .modal-backdrop {
        display: none;
    }
</style>
<div class="Mainbody">
    <div style="width:50%;margin-top:50px;margin:0 auto;font-size:24px;text-align:center">我的问诊</div>
    <table class="table table-bordered table-hover" style="        border: 1px solid black;
        margin-top: 20px;">
        <thead class="bg-success text-white">
            <tr>
                <th>编号</th>
                <th>用户</th>
                <th>提问时间</th>
                <th>问诊内容</th>
                <th>回答</th>
                <th>状态</th>
                <th>修改</th>
                <th>详情</th>
            </tr>
        </thead>
        @foreach (var item in ques)
        {
            <tr>
                <td>@item.Qid</td>
                <td>@item.User.Uname</td>
                <td>@item.Qtime</td>
                <td>@item.Qcontent</td>
                <td>@item.Qanswer</td>
                @if (item.Qstate == 0)
                {
                    <td style="color:red"><a href="" data-toggle="modal" data-target="#exampleModal" data-whateverl="@item.Qid" data-whateverl1="@item.Qcontent">未回复</a></td>

                }
                else
                {
                    <td style="color:forestgreen">已回复</td>
                }
                <td><a href="" class="btn btn-info" data-toggle="modal" data-target="#exampleModa3" data-whatever="@item.Qid" data-whatever1="@item.Qcontent" data-whatever2="@item.Qanswer" >修改</a></td>
                <td><a href="" class="btn btn-success" data-toggle="modal" data-target="#exampleModa2" data-whatever="@item.User.Uname" data-whatever1="@item.Qtime" data-whatever2="@item.Qcontent" data-whatever3="@item.Qanswer">详情</a></td>
            </tr>
        }
    </table>
</div>

@*分页*@
<div style="        position: absolute;
        top: 500px;
        height: auto;
        width: 1100px;">
    <div classs="row">
        <div class="col-lg-8">
            <label style="color:black;">总共 @ViewBag.totalCount 行</label>
            <select onchange="window.location = this.value;">
                @{
                    int[] count = new[] { 2, 3, 4, 5 };
                }
                @foreach (var item in count)
                {
                    if (item.Equals(ViewBag.pageCount))
                    {
                        <option value="/Mediciner/Ques?pageIndex=@ViewBag.pageIndex&pageCount=@item" selected>@item</option>
                    }
                    else
                    {
                        <option value="/Mediciner/Ques?pageIndex=@ViewBag.pageIndex&pageCount=@item">@item</option>
                    }

                }
            </select>
        </div>
        <div class="col-lg-4">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="/Mediciner/Ques?pageIndex=1&pageCount=@ViewBag.pageCount">首页</a></li>

                    @if (@ViewBag.pageIndex > 1)
                    {
                        <li class="page-item"><a class="page-link" href="/Mediciner/Ques?pageIndex=@(ViewBag.pageIndex-1)&pageCount=@ViewBag.pageCount">上一页</a></li>
                    }
                    else
                    {
                        <li class="page-item disabled"><a class="page-link" href="#">上一页</a></li>
                    }

                    <li class="page-item"><a class="page-link" href="#">@ViewBag.pageIndex</a></li>

                    @if (@ViewBag.pageIndex < @ViewBag.totalPage)
                    {
                        <li class="page-item"><a class="page-link" href="/Mediciner/Ques?pageIndex=@(ViewBag.pageIndex+1)&pageCount=@ViewBag.pageCount">下一页</a></li>
                    }
                    else
                    {
                        <li class="page-item disabled"><a class="page-link" href="#">下一页</a></li>
                    }

                    <li class="page-item"><a class="page-link" href="/Mediciner/Ques?pageIndex=@ViewBag.totalPage&pageCount=@ViewBag.pageCount">末页</a></li>
                </ul>
            </nav>
        </div>
    </div>

</div>@*分页尾*@


@*回复问诊*@
<div class="modal fade" id="exampleModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">回复问诊</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/Mediciner/QuesAnswer" method="post" id="form1">
                    <div class="form-group">
                        <input type="hidden" class="form-control .modal-body" id="Qid" name="Qid">
                    </div>
                    <div class="form-group">
                        <label for="Qcontent" class="col-form-label">问诊问题:</label>
                        <input type="text" readonly="readonly" class="form-control .modal-body" id="Qcontent" name="Qcontent">
                    </div>
                    <div class="form-group">
                        <label for="Qanswer" class="col-form-label">回复内容:</label>
                        <input type="text" class="form-control" id="Qanswer" name="Qanswer">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="submit" class="btn btn-primary" id="save">添加</button>
            </div>
        </div>
    </div>
</div>

@*详情信息*@
<div class="modal fade" id="exampleModa2" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">问诊详情信息</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="post" id="form1">
                    <div class="form-group">
                        <label for="Mname" class="col-form-label">医生名:</label>
                        <input type="text" readonly="readonly" class="form-control" id="Uname" name="Uname">
                    </div>
                    <div class="form-group">
                        <label for="Qtime" class="col-form-label">时间:</label>
                        <input type="text" readonly="readonly" class="form-control" id="Qtime" name="Qtime">
                    </div>
                    <div class="form-group">
                        <label for="Qcontent" class="col-form-label">提问:</label>
                        <textarea readonly="readonly" class="form-control" id="Qcontent" name="Qcontent"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="Qanswer" class="col-form-label">回答:</label>
                        <textarea readonly="readonly" class="form-control" id="Qanswer" name="Qanswer"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>


@*修改问诊*@
<div class="modal fade" id="exampleModa3" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">修改问诊</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/Mediciner/EditQuesAnswer" method="post" id="form3">
                    <div class="form-group">
                        <input type="hidden" class="form-control .modal-body" id="Qid" name="Qid">
                    </div>
                    <div class="form-group">
                        <label for="Qcontent" class="col-form-label">问诊问题:</label>
                        <input type="text" readonly="readonly" class="form-control .modal-body" id="Qcontent" name="Qcontent">
                    </div>
                    <div class="form-group">
                        <label for="Qanswer" class="col-form-label">回复内容:</label>
                        <input type="text" class="form-control" id="Qanswer" name="Qanswer">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="submit" class="btn btn-primary" id="save3">修改</button>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script type="text/javascript">

        $("#exampleModal").on('show.bs.modal', function (e) {
            var button = $(e.relatedTarget);
            var Qid = button.data('whateverl');
            var Qcontent = button.data('whateverl1')
            var modal = $(this);
            modal.find('.modal-body input[name="Qid"]').val(Qid)
            modal.find('.modal-body input[name="Qcontent"]').val(Qcontent)
        })


        $("#exampleModa2").on('show.bs.modal', function (e) {
            var button = $(e.relatedTarget);
            var Uname = button.data('whatever');
            var Qtime = button.data('whatever1');
            var Qcontent = button.data('whatever2');
            var Qanswer = button.data('whatever3');
            var modal = $(this);
            modal.find('.modal-body input[name="Uname"]').val(Uname)
            modal.find('.modal-body input[name="Qtime"]').val(Qtime)
            modal.find('.modal-body textarea[name="Qcontent"]').val(Qcontent)
            modal.find('.modal-body textarea[name="Qanswer"]').val(Qanswer)
        })



        $("#exampleModa3").on('show.bs.modal', function (e) {
            var button = $(e.relatedTarget);
            var Qid = button.data('whatever');
            var Qcontent = button.data('whatever1');
            var Qanswer = button.data('whatever2');
            var modal = $(this);
            modal.find('.modal-body input[name="Qid"]').val(Qid)
            modal.find('.modal-body input[name="Qcontent"]').val(Qcontent)
            modal.find('.modal-body input[name="Qanswer"]').val(Qanswer)
        })

        $("#save").click(function () {
            alert('回复成功！');
            $("#form1").submit();
        })
         $("#save3").click(function () {
            $("#form3").submit();
        })
    </script>
}