
@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_LayoutOrder.cshtml";
}
@using Order.Models;
@{
    List<Dept> dept = ViewBag.dept as List<Dept>;
    List<Hospital> hos = ViewBag.hos as List<Hospital>;
}

<link href="~/Content/main.css" rel="stylesheet" />
<link href="~/Content/FindMed.css" rel="stylesheet" />

@*分割线*@
<div class="fg"></div>

@*轮播*@
<div class="blue">
    <div class="percent">
        <div class="case">
            <ul class="main-menu-nav1">
                @foreach (var item in dept.Where(p => p.Pdid.ToString() == "" || p.Pdid == null).Take(5))
                {
                    <li class="main">
                        <span>@item.Dname</span>
                        <ul class="assistant">
                            @foreach (var item1 in dept.Where(p => p.Pdid == item.Did).Take(3))
                            {
                                <li><a href="/Frist/FindID/@item1.Did">@item1.Dname</a></li>
                                <span>|</span>
                            }
                        </ul>
                    </li>
                }
                <li class="main"><span class="glyphicon glyphicon-plus"></span><a href="/Frist/More"><span>更多科室</span></a></li>
            </ul>
        </div>

        <div class="Carousel" style="width:800px;height:350px;margin-left:-13px;">

            <!--轮播图-->
            <div class="container">
                <div class="carousel slide" id="slidershow" data-ride="carousel" data-interval="1500">

                    <!--图片容器-->
                    <div class="carousel-inner" style="width:810px;height:350px;margin-left:-93px;">
                        <div class="item active">
                            <img src="~/Content/Images/医院1.jpg" style="height:350px;width:810px;" />
                            <!--添加对应标题和内容-->
                            <div class="carousel-caption">
                                <h4>图一</h4>
                                <span>内容</span>
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/Content/Images/医院2.jpg" style="height:350px;width:810px;" />
                            <!--添加对应标题和内容-->
                            <div class="carousel-caption">
                                <h4>图二</h4>
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/Content/Images/医院3.jpg" style="height:350px;width:810px;" />
                            <!--添加对应标题和内容-->
                            <div class="carousel-caption">
                                <h4>图三</h4>
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/Content/Images/医院4.jpg" style="height:350px;width:810px;" />
                            <!--添加对应标题和内容-->
                            <div class="carousel-caption">
                                <h4>图四</h4>
                            </div>
                        </div>
                        <!--计数器-->
                        <ol class="carousel-indicators">
                            <li class="active" data-target="#slidershow" data-slide-to="0"></li>
                            <li data-target="#slidershow" data-slide-to="1"></li>
                            <li data-target="#slidershow" data-slide-to="2"></li>
                            <li data-target="#slidershow" data-slide-to="3"></li>
                        </ol>
                        <!--轮播导航-->
                        <a href="#slidershow" data-slide="prev" class="left carousel-control" role="button">
                            @*左滑按钮*@
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a href="#slidershow" data-slide="next" class="right carousel-control" role="button">
                            @*右滑按钮*@
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <div class="ad">
            <img src="~/Content/Images/one.png" />
            <img src="~/Content/Images/three.png" />
            <img src="~/Content/Images/two.png" />
        </div>
    </div>
</div>

<p style="font-size:20px;font-weight:bold;margin-top:80px;margin-left:75px;">挂号预约</p>
@*医生展示*@
<div class="Med">
    @*<ul>
            @foreach (var item in dept.Where(p => p.Pdid.ToString() != "" || p.Pdid != null))
            {
                <li class="dname"><a href="">@item.Dname</a></li>
                <lable>|</lable>
            }

        </ul>*@

    <ul id="myTab" class="nav nav-tabs">
        @foreach (var item in dept.Where(p => p.Pdid.ToString() != "" || p.Pdid != null).Take(1))
        {
            <li flag="selected" class="active" name="frist">
                @Ajax.ActionLink(@item.Dname, "FindMed", "Frist", new { id = item.Did, name = 2 }, new AjaxOptions { UpdateTargetId = "change", InsertionMode = InsertionMode.Replace, HttpMethod = "Post" }, new { @class = "oneDept" })
            </li>
        }
        @foreach (var item in dept.Where(p => p.Pdid.ToString() != "" || p.Pdid != null).Skip(1))
        {
            <li flag="selected">
                @Ajax.ActionLink(@item.Dname, "FindMed", "Frist", new { id = item.Did, name = 2 }, new AjaxOptions { UpdateTargetId = "change", InsertionMode = InsertionMode.Replace, HttpMethod = "Post" })

            </li>
        }
        <li flag="selected">
            @*<a href="/Frist/More">更多科室>></a>*@
        </li>
    </ul>
    <div id="myTabContent" class="tab-content table-bordered" style="border-top:none">
        <div class="tab-pane fade in active" id="change" style="display:flex">

        </div>
    </div>

</div>

<p style="font-size:20px;font-weight:bold;margin:0 auto;margin-top:80px;margin-left:75px;">医院选择</p>
@*医院展示*@
<div class="Hos">
    <ul id="myTab" class="nav nav-tabs">
        @foreach (var item in hos.Take(1))
        {
            <li flag="selected" class="active" name="frist">
                @Ajax.ActionLink(@item.Address, "FindHos", "Frist", new { name = item.Address }, new AjaxOptions { UpdateTargetId = "change1", InsertionMode = InsertionMode.Replace, HttpMethod = "Post" }, new { @class = "oneAdds" })
            </li>
        }
        @foreach (var item in hos.Select(s => new { s.Address }).Distinct().Skip(1))
        {
            <li flag="selected">
                @Ajax.ActionLink(@item.Address, "FindHos", "Frist", new { name = item.Address }, new AjaxOptions { UpdateTargetId = "change1", InsertionMode = InsertionMode.Replace, HttpMethod = "Post" })

            </li>
        }
        <li flag="selected">
            <a href="/Frist/MoreHos">更多医院>></a>
        </li>
    </ul>
    <div id="myTabContent" class="tab-content table-bordered" style="border-top:none">
        <div class="tab-pane fade in active" id="change1" style="display:flex">

        </div>
    </div>

    <div class="forbit">
        <p style="font-size:16px;color:red;font-weight:bold">注意事项</p>
        <ul class="list-group ">
            <li class="list-group-item">每位医生都有预约次数</li>
            <li class="list-group-item">预约选择预约时间</li>
            <li class="list-group-item">根据预约号去医院取号</li>
            <li class="list-group-item">每位医生的预约时间不同</li>
            <li class="list-group-item">请提前预约</li>
        </ul>
        <lable>已预约人数:</lable>
    </div>

</div>




@section scripts{
    <script type="text/javascript">
        $(function () {
            $("[flag='selected']").click(function () {
                $(this).siblings().removeClass("active");
                $(this).addClass("active");

            });
            $(".oneDept").click();
            $(".oneAdds").click();
        })
    </script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

}