<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @using Order.Models;
    @{
        User user = Session["user"] as User;
    }
    <link href="~/Content/hand.css" rel="stylesheet" />
    <style type="text/css">
        .main-menu-nav li {
            border-radius: 5px;
        }

        body {
            background-image: url('../../Content/Images/准备给病人做手术的医生图片_彼岸图网.jpg');
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
    </style>
</head>
<body style="margin:0px;padding:0px">

    @*灰色登录条*@
    <div class="gh-nav">
        <div class="container g-clear">
            <div class="g-left" id="">
                <span class="text">@user.Uname 您好！</span>
                <a href="/Mediciner/Logout">退出</a>
                <a href="/Frist/Main">首页</a>
            </div>


            <div class="g-right">

                <a href="text">
                    下载APP
                    <span>
                        <img src="https://static.guahao.cn/front/portal-pc-static/img/index-appQRcode.png?v=20170505" alt="" style="display: none;">
                    </span>
                </a>
                <span class="line">|</span>
                <a href="">快速取消预约</a>
                <span class="line">|</span>
                <a href="">客服中心</a>
                <span class="line">|</span>
                <a href="">微医云</a>
                <span class="line">|</span>
                <a href="">药品信息</a>
            </div>
        </div>
    </div>

    @*中间部分放背景*@

        <div class="navigation"style="margin-left:200px; margin-top:50px;margin-bottom:30px;">
            <div class="home-menu-ctn">
                <ul class="main-menu-nav" >
                    <li><a href="/Users/MyOrder">我的预约</a></li>
                    <li><a href="">我的评论</a></li>
                    <li><a href="/Users/Question">我的问诊</a></li>
                    <li><a href="">我的信息</a></li>
                </ul>
            </div>
        </div>



        <div id="content" style="width:70%;height:500px; margin:0 auto;margin-bottom:30px;box-shadow:4px 4px 5px #999; border-radius:10px; ">
            <!--页面内容部分-->
            @RenderBody()

        </div>
    <!--页脚-->
    <div id="footer">
        <div id="button">
            <ul>
                <li><a href="#">服务条款</a></li>
                <li>丨</li>
                <li><a href="#">隐私政策</a></li>
                <li>丨</li>
                <li><a href="#">儿童政策</a></li>
                <li>丨</li>
                <li><a href="#">意见反馈</a></li>
                <li>丨</li>
                <li><a href="#">投诉</a></li>
            </ul>
            <div class="number">快医公司版权所有©199X-20X9XXXX科技有限公司运营：浙网文[20XX]3X0X-X6X号</div>
            <div class="report">违法和不良信息举报电话：0xx1-xx3xx5x6 举报邮箱：1373xxxxxx@qq.com </div>
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<script type="text/javascript">
    $(".main-menu-nav").children().children("a").hover(function () {
          $(this).parents("li").siblings("li").css("background-color", this.translate)
          $(this).parents("li").css("background-color", "#8A8A89")
        }
    )
    $(".main-menu-nav").children().children("a").hover(function () {
        $(this).css("color", "#F9A649")
        $(this).parents("li").siblings("li").children("a").css("color", "black")
    })
</script>