
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>首页</title>
    <link href="http://cdn.bootcss.com/highlight.js/8.0/styles/monokai_sublime.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/heightlength.css">
    <link rel="stylesheet" href="../css/mxjs.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @{
        List<Dept> dept2 = ViewBag.dept2 as List<Dept>;
    }
</head>
@using Order.Models;
@model Dept
<body style="background-color:#252C35;">

    <div class="container">
        <div class="jsbg" style="margin-top:-15px;">
            <ul class="breadcrumb">
                <li><a href="#">科室管理</a></li>
                <li><a href="#">修改二级科室</a></li>
            </ul>
            <div class="col-lg-12 mxlength" style="border:5px dashed #516877;background-color:#23241F;height:600px;position:relative;">
                <div style="margin:0 auto;border:1px solid gray;width:60%;height:300px; background-color:white;margin-top:170px;border-radius:10px 10px">
                    <h2 style="margin-left:30%;">二级科室信息修改</h2>
                    <form action="/Adimin/EditFristDept/" method="post" id="form2" enctype="multipart/form-data" style="position:relative">
                        <div style="display:flex;width:90%;margin:30px auto;justify-content:center">
                            <div class="form-group">
                                @Html.Hidden("Did")
                                <label for="Dname" class="col-form-label">名称:</label>
                                <input type="text" class="form-control" id="Dname" name="Dname" value="@Model.Dname">
                            </div>
                            <div class="form-group" style="margin-left:40px;">
                                <label for="Dspec" class="col-form-label">描述:</label>
                                <input type="text" class="form-control" id="Dspec" name="Dspec" value="@Model.Dspec">
                            </div>
                            <div class="form-group" style="margin-left:40px;">
                                <label for="Dspec" class="col-form-label">所属一级科室:</label>
                                <select name="Pdid" id="Pdid" class="form-control">
                                    @foreach (var item in dept2.Where(p => p.Pdid == null))
                                    {
                                        <option value="@item.Did" selected>@item.Dname</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <input type="submit" value="修改" class="btn btn-success" style="position:absolute;left:45%" />
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/highlight.js/8.0/highlight.min.js"></script>
    <script src="../js/smoothscroll.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="../js/mking.js"></script>
</body>
</html>
